body {
  width: 100vw;
  height: 100vh;
}

.nav-container {
  display: flex;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 10px;
}

.menu-icon {
  margin-right: 20%;
}

.search-icon {
  margin-left: 20%;
}

.nyc-arcades-text {
  font-size: 20px;
}